# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/src/.vs/xengine/v15/*.suo
/src/.vs/xengine/v15/*.db
/src/.vs/xengine/v15/ipch/AutoPCH/10ac31a72ae13bd2/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/1621a02728f4b56d/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/2e479e7e2c438c1a/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/57e6542cbbe37864/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/580bb62cbc033b27/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/62cda0ee479822fc/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/8122f7091a54b10/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/ca8951d11a370cd4/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/caaeb3d11a56cf97/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/ce200bad1500c01d/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/e7a225f2ac1e0ea6/*.ipch
/src/.vs/xengine/v15/ipch/AutoPCH/f7ce9f124c49ba47/*.ipch
/src/bin/Debug/*.log
/src/bin/Debug/xgame.tlog/*.tlog
/src/bin/Debug/xgame.tlog/*.lastbuildstate
/src/bin/Debug/xnet.tlog/*.tlog
/src/bin/Debug/xnet.tlog/*.lastbuildstate
/src/bin/Release/*.log
/src/bin/Release/xnet.tlog/*.tlog
/src/bin/Release/xnet.tlog/*.lastbuildstate
/src/xnet/*.log
/src/xgame/*.log
